logfile=sc_serv.log
adminpassword={{ adminpassword }}
maxuser=1000
password={{ password }}
requirestreamconfigs=1
publicserver=always

streamadminpassword_1={{ adminpassword }}
streamauthhash_1={{ hash }}
streammaxuser_1=512
streampassword_1={{ password }}
streampath_1=/stream
